<div class="login-container">
    <div class="login-form">
        <h1>Add Product</h1>
        <form action="/admin/add-products" enctype="multipart/form-data" method="POST">
            <div class="input-section">
                <input type="text" name="name">
                <label>Name</label>
            </div>
            <div class="input-section">
                <label>Category</label>
                <input type="text" name="category">
            </div>
            <div class="input-section">
                <label>Description</label>
                <input type="text" name="description">
            </div>
            <div class="input-section">
                <label>Price</label>
                <input type="number" name="price">
            </div>
            <img src="" style="width: 100px;" id="prodimage">
            <div class="input-section">
                <label>Image</label>
                <input type="file" name="image" onchange="viewImage(event)">
            </div>
            <input type="submit" value="Add">
        </form>
    </div>
</div>