<div class="add-products">
<h1>Add Product</h1>
<form action="/admin/add-products" enctype="multipart/form-data" method="POST">
    <label>Name</label=>
    <input type="text" name="name">
    <label>Category</label>
    <input type="text" name="category">
    <label>Description</label>
    <input type="text" name="description">
    <label>Price</label>
    <input type="number" name="price">
    <label>Image</label>
    <input type="file" name="image">
    <input type="submit" value="Add">
</form>
</div>