<header>
  <div class="navbar">
    <a href="/admin" class="logo">
      Admin Panel
    </a>
    <div class="nav-links">
      <a href="/admin">
        All Product
      </a>
      <a href="#">
        All Orders
      </a>
      <a href="#">
        All Users
      </a>
      <a href="/admin/add-product" class="notification">
       <span>Add Product</span>
      </a>
    </div>
  </div>
</header>