<header>
  <div class="navbar">
    <a href="/" class="logo">
      Shopping Cart
    </a>
    <div class="nav-links">
      <a href="/"
        Product
      </a>
      <a href="#">
        Cart
      </a>
      <a href="#">
        Order
      </a>
    </div>
  </div>
</header>