<header>
  <div class="navbar">
    <a href="/" class="logo">
      Shopping Cart
    </a>
    <div class="nav-links">
      <a href="/">All Product </a>
        <a href="#">
         My Cart
        </a>
        {{#if user}}
        <a href="#">
         My Orders
        </a>
        {{/if}}
    </div>
    <div class="dropdown">
      {{#if user}}
      <button onclick="myFunction()" class="dropbtn">{{user.name}}</button>
      <div id="myDropdown" class="dropdown-content">
        <a href="/logout">Logout</a>
      </div>
        {{else}}
      <button onclick="myFunction()" class="dropbtn">Account</button>
      <div id="myDropdown" class="dropdown-content">
      <a href="/login">Login</a>
      </div>
      {{/if}}
    </div>
  
  </div>
  </div>
</header>