<div class="menu-container" id="menu">
  <span onclick="toggleMenu()">&times;</span>
  <a href="/">
    All Products
  </a>
  <a href="#">
    Account
  </a>
  <a href="#">
    My Orders
  </a>
  <a id="logout-mobile" href="/logout">
    Logout
  </a>
</div>
<header>
  <div class="navbar">
    <a href="/" class="logo">
      Shopping Cart
    </a>
    <div>
      <div class="nav-links">
        <a href="/">All Products</a>
        {{#if user}}
        <a href="#">
          My Orders
        </a>
        <a href="#">
          Account
        </a>
        {{else}}
        <a href="/login" class="notification">
          <span>Login</span>
        </a>
        {{/if}}
      </div>
      {{#if count}}
      <a href="/cart" class="notification">
        <span>Cart</span>
        <span class="badge" id="cartCount">{{count}}</span>
      </a>
      {{else}}
      <a href="/cart" class="notification">
        <span>Cart</span>
        <span class="badge" id="cartCount">0</span>
      </a>
      {{/if}}
      {{#if user}}
      <a href="/logout" id="logout-normal" class="notification" onclick="return Do You Want to logout ?">
        <span>Logout</span>
      </a>
      {{/if}}
      {{#if user}}
      <div class="menu">
        <i class="fas fa-bars" onclick="toggleMenu()"></i>
      </div>
      {{else}}
      <div class="menu">
        <a href="/login" class="notification" style="margin-right: 0;">
          <span>Login</span>
        </a>
      </div>
      {{/if}}
    </div>
  </div>
</header>