<div class="login-container">
    <div class="login-form">
        <h1>
            Change Password
        </h1>
        <h4 id="error">
            {{error}}
        </h4>
        <form action="/change-password" method="post" autocomplete="off" onsubmit="return validation(event)">
            <div class="input-section">
                <input type="password" name="expassword" value="{{userDetails.name}}" required />
                <label>
                    Current Password
                </label>
            </div>
            <div class="input-section">
                <input type="password" name="newpassword" value="{{userDetails.email}}" required />
                <label>
                    New Password
                </label>
            </div>
            <div class="input-section">
                <input type="password" name="conpassword" value="{{userDetails.email}}" required />
                <label>
                    Confirm Password
                </label>
            </div>
            <input type="submit" value="Change" />
        </form>
    </div>
</div>