<div class="login-form">
  <form action="/login" method="post">
    <h1>
      Login
    </h1>
    <h4 id="message">
      {{response.message}}
    </h4>
    <label>
      Email
    </label>
    <input type="email" name="email" />
    <label>
      Password
    </label>
    <input type="password" name="password" />
    <a href="/signup">
      Don't Have a Account ?
    </a>
    <input type="submit" value="Login" />
  </form>
</div>