<div class="profile-container">
    <div class="myprofile">
        <h1>Profile</h1>
        <div class="details">
            <i class="far fa-user"></i>
            <p>{{userDetails.name}}</p>
        </div>
        <div class="details">
            <i class="far fa-envelope"></i>
            <p>{{userDetails.email}}</p>
        </div>
        <a href="/profile/edit">Edit</a>
        <a href="/change-password">Change Password</a>
    </div>
</div>