<div class="login-container">
  <div class="login-form">
    <h1>
      Create An Account
    </h1>
    <h4>
      {{error}}
    </h4>
    <form action="/signup" method="post" autocomplete="off">
      <label>
        Name
      </label>
      <input type="text" name="name" required />
      <label>
        Email
      </label>
      <input type="email" name="email" required />
      <label>
        Password
      </label>
      <input type="password" name="password" required />
      <a href="/login">
        Already Have an Account ?
      </a>
      <input type="submit" value="Create" />
    </form>
  </div>
</div>