* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body {
    background-color: #000;
    color: #fff;
    margin: 0;
}
header {
    top: 0;
    width: 100%;
    padding: 25px;
    z-index: 11;
    font-family: "Comfortaa", Tahoma, Geneva, Verdana, sans-serif;
}
header .navbar {
    display: flex;
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
    margin-right: 20px;
    color: #00a3ff;
    font-size: 18px;
}

.navbar .logo {
    font-weight: bold;
}
.nav-links {
    display: inline-block;
}
.menu {
    display: none;
    text-decoration: none;
    margin-right: 15px;
    color: #00a3ff;
    font-size: 18px;
}
.menu-container {
    width: 100%;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-color: #00a3ff;
    z-index: 11;
    font-family: "Comfortaa", Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0;
    visibility: hidden;
    transition: 1s ease-in-out;
    overflow: hidden;
}
.menu-container a {
    color: #fff;
    text-decoration: none;
    margin: 15px 0;
    font-size: 20px;
}
.menu-container span {
    padding: 25px;
    font-size: 40px;
    position: absolute;
    top: 0;
    right: 0;
}

.menu-container.active {
    opacity: 1;
    visibility: visible;
}
.menu-container .notification {
    color: white;
    background-color: #00a3ff;
    text-decoration: none;
    padding: 10px;
    position: relative;
    display: inline-block;
    border-radius: 50px;
}

.menu-container .notification span {
    color: #fff;
    font-size: 20px;
    padding: 0;
}

.menu-container .notification .badge {
    position: absolute;
    top: -20px;
    right: -25px;
    border-radius: 5px;
    background: #fff;
    color: #00a3ff;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-container .add-product {
    background-color: #fff;
    color: #00a3ff;
    padding: 15px;
    border-radius: 50px;
}
.container {
    width: 100%;
    margin: 0 0 50px 0;
    font-family: "Montserrat", Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    display: block;
}

.container .card-container {
    width: 100%;
    height: 65vh;
    padding: 0 50px;
    margin: 100px 0 50px 0;
    display: flex;
    justify-content: space-between;
}

.container .card-content {
    padding: 50px;
}

.card-content h1 {
    font-weight: 900;
    font-size: 72px;
    line-height: 88px;
    color: #00a3ff;
}
.card-content p {
    font-size: 28px;
    line-height: 34px;
    color: #fffdfd;
}

.card-container .img-container img {
    width: 350px;
    height: 350px;
}

.card-container button {
    width: 175px;
    height: 50px;
    background: #00a3ff;
    border-radius: 50px;
    margin: 10px 0;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
}
.card-content .variants {
    margin: 50px 0;
}
.variants img {
    margin: 0 25px;
    width: 100px;
    height: 100px;
    transition: 0.25s ease-in-out;
}
.variants img:hover {
    transform: translateY(-10px);
}
.notification {
    color: white;
    background-color: #00a3ff;
    text-decoration: none;
    padding: 10px;
    position: relative;
    display: inline-block;
    border-radius: 50px;
}

.notification span {
    color: #fff;
}

.notification .badge {
    position: absolute;
    top: -10px;
    right: -15px;
    border-radius: 5px;
    background: #fff;
    color: #00a3ff;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.login-form {
    border: 1px solid #00a3ff;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 25px;
    width: 600px;
    min-height: auto;
    font-family: "Comfortaa", Tahoma, Geneva, Verdana, sans-serif;
}

.login-form form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Comfortaa", Tahoma, Geneva, Verdana, sans-serif;
}
.login-form h1 {
    padding: 25px 0 0 50px;
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
    color: #00a3ff;
}
.login-form h4 {
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    color: #ff1e00;
}

.input-section {
    width: 100%;
    position: relative;
}

.input-section label {
    position: absolute;
    color: #00a3ff;
    font-size: 15px;
    left: 25px;
    top: 7px;
    padding: 0 5px;
    background-color: #000;
}

.input-section input {
    margin: 15px 0;
    padding: 15px 20px;
    width: 100%;
    border: 1px solid #00a3ff;
    font-size: 20px;
    color: #00a3ff;
    box-sizing: border-box;
    background: none;
    border-radius: 50px;
    font-family: "Comfortaa", Tahoma, Geneva, Verdana, sans-serif;
}

.login-form a {
    text-decoration: none;
    color: dodgerblue;
}

.login-form input[type="submit"] {
    width: 100px;
    height: 50px;
    margin: 25px 0 0 0;
    padding: 0;
    font-family: "Comfortaa", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #00a3ff;
    border: none;
    font-size: 18px;
    border-radius: 12px;
    color: #fff;
    font-weight: bold;
}
.cart {
    margin: 0 0 100px 0;
    display: flex;
    justify-content: space-evenly;
    font-family: "Montserrat";
    flex-wrap: wrap;
}
.cart-container {
    margin: 25px 0;
    width: 550px;
    height: 300px;
    background: #0a0a0a;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.cart-image {
    display: flex;
    width: 200px;
    overflow: hidden;
}
.cart-image input {
    display: none;
}
.slide {
    width: 100%;
    transition: 2s;
}
.navigation-manual {
    position: absolute;
    bottom: 30px;
    left: 80px;
    display: flex;
    z-index: 10;
}

.manual-btn {
    border: 2px solid #00a3ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #00a3ff;
}

.cart-container .cart-image img {
    width: 200px;
    height: 200px;
}

.cart-container .cart-content {
    align-self: center;
}
.cart-content h1 {
    margin: 10px 0;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 34px;
    color: #00a3ff;
}

.cart-content p {
    margin: 10px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    color: #ffffff;
}
.cart-content .btn-section button {
    background: #00a3ff;
    margin: 15px 0;
    outline: none;
    border: none;
    padding: 15px;
    border-radius: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    font-family: "Montserrat";
}

.cart-content .btn-section .count-button {
    padding: 0;
    width: 25px;
}
.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Montserrat";
}
.empty .cart-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkout {
    width: 100%;
    height: 100px;
    background-color: #0a0a0a;
    position: fixed;
    bottom: 0;
    font-family: "Montserrat";
    display: flex;
    flex-direction: row-reverse;
}
.checkout button {
    font-family: "Montserrat";
    background: #00a3ff;
    outline: none;
    border: none;
    padding: 10px;
    width: 150px;
    height: 50px;
    margin: 25px 0;
    border-radius: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
}

@media (max-width: 990px) {
    .nav-links {
        display: none;
    }
    .menu {
        display: inline;
    }
    .container {
        margin-top: 0;
        width: auto;
    }
    .container .card-container {
        margin: 50px 0;
        padding: 0px;
        height: auto;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    .card-container .card-content {
        padding: 0px;
    }
    .card-container .card-content h1 {
        font-size: 30px;
    }
    .card-container .img-container img {
        width: 250px;
        height: 250px;
    }
}
@media (max-width: 650px) {
    .login-form {
        width: 500px;
    }
    .login-form input {
        font-size: 12px;
    }
    .login-form h1 {
        padding-top: 0px;
        font-size: 25px;
    }
}
@media (max-width: 580px) {
    .cart-container {
        width: 400px;
    }
    .cart-container .btn-section button {
        padding: 5px;
    }
    .navigation-manual,
    .navigation-auto {
        left: 50px;
    }
}
@media (max-width: 500px) {
    .login-form {
        width: 400px;
    }
    .variants img {
        margin: 0 10px;
        width: 75px;
        height: 75px;
    }
}
@media (max-width: 410px) {
    .navbar a {
        margin-right: 10px;
        font-size: 12px;
    }
}
@media (max-width: 400px) {
    .login-form {
        width: 310px;
    }
    .cart-container {
        width: 310px;
    }
    .cart-container .cart-image img {
        width: 150px;
        height: 150px;
    }
    .cart-content h1 {
        font-size: 24px;
    }
    .cart-content p {
        font-size: 18px;
    }
    .login-form h1 {
        padding: 0;
    }
    .navigation-manual,
    .navigation-auto {
        left: 25px;
    }
}
