* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body {
    background-color: #fff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header {
    background-color: #17dae7;
    padding: 25px;
}
header .navbar {
    display: flex;
}

.navbar a {
    text-decoration: none;
    margin-right: 15px;
    color: #fff;
    font-size: 18px;
}

.navbar .logo {
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 25px;
}

.container .card-container {
    width: 300px;
    height: 500px;
    margin-bottom: 25px;
    background-color: #fff;
    box-shadow: 10px 5px 10px #aaa;
}
.img-container {
    text-align: center;
}
.img-container img {
    height: 200px;
}

.card-content {
    padding: 20px;
}
.card-container .name {
    font-size: 24px;
    color: dodgerblue;
}

.card-container .category {
    font-size: 18px;
    color: rgb(15, 228, 15);
}
.card-container .description {
    font-size: 15px;
    color: rgb(50, 50, 50);
    height: 80px;
    overflow: hidden;
}

.card-container .price {
    color: rgb(0, 255, 0);
    font-size: 20px;
    font-weight: bold;
}

.card-container button {
    margin: 15px 0;
    width: 100px;
    height: 30px;
    font-size: 15px;
    background-color: dodgerblue;
    color: #fff;
    border: none;
    border-radius: 10px;
}

.table-container {
    margin: auto;
    margin-top: 25px;
    width: 700px;
}

.table-container table {
    border-collapse: collapse;
    width: 100%;
}

.table-container th,
.table-container td {
    text-align: left;
    min-width: 100px;
    padding: 20px;
}

.table-container tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-container th {
    background-color: #15eb1c;
    color: white;
}

.table-container img {
    height: 50px;
}

.add-products {
    margin: auto;
    margin-top: 25px;
    padding: 25px;
    width: 700px;
    background-color: rgb(187, 187, 187);
}
.add-products form {
    display: flex;
}

.add-products input {
    width: 100%;
    margin: 20px 0;
}
.add-products input[type="submit"] {
    width: 100px;
    height: 30px;
    background-color: #15eb1c;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
}
